
footer#footer {
  background: white;
  color: #6B7780;
  padding: 60px;
}
.app-store {
  display: inline-block;
  width: 150px;
  margin-right: 10px;
}

.app-img {
  float: left;
}
.footer-title{
  margin-bottom: 20px;
}
.footer-title h5 {
  color: white;
}
.footer-logo{
width: 150px;
margin: auto;
}
.footer-desc ul{
list-style: none;
padding-left: 0px;
}
.footer-desc ul li{
padding: 6px 0px;
}

a{
  color: black;
}