* {
    margin: 0;
    padding: 0
  
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #000000;
    /* overflow: hidden;  */
}

.navbar-nav .nav-item:hover {
    background-color: rgba(180, 190, 203, 0.4);
}

.bg-light {
    background-color: #f8f9fa !important;
    opacity: 0.8;
}

.category {
    width: 250px;
    /* text-align: right;
    justify-content: right */
}

.categories_title::before {
    content: "\e907";
    font-family: 'plaza-icon';
    color: #222222;
    display: inline-block;
    position: absolute;
    font-size: 22px;
    line-height: 0px;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
}
li{ 
    color: #000000 !important;
    display: block;
    font-size: 17px;
    line-height: 54px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;

}
.navbar-nav > li{
    padding-left:10px;
    padding-right:10px;
  }

.navFull{
    border: 1px solid #6c757d;
}


#box11{
    margin: 0;
    padding: 0;
    border-right: 1px solid 6c757d;
    /* border: 1px solid #6c757d; */
}
  .navbox{
    border: 1px solid #6c757d;
  }
 
  .Nav3{
    padding-right: 20px;
  }
  .Home11{
  margin-left: 100px;

  }
  .bg-light {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important;
    padding: 0 !important;
}

.header1{
    padding-right: -10px;
}
.flex-row {
    flex-direction: row!important;
    padding-right: 45px !important;
}